{% load i18n %}
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <a href="https://github.com/jlebunetel/django-webpack-elm">
                <span class="icon">
                    <i class="fab fa-github"></i>
                </span>
                My Awesome App!
            </a>
            {% trans 'by' %}
            <a href="https://github.com/jlebunetel">Julien Lebunetel</a>
            {% trans 'and' %}
            <a href="https://github.com/jlebunetel/django-webpack-elm/graphs/contributors">{% trans 'many contributors' %}</a>.
            {% trans 'The source code is licensed' %}
            <a href="https://opensource.org/licenses/MIT">MIT</a>.
        </p>
    </div>
</footer>
