@charset "utf-8";

@font-face {
    font-family: 'DejaVu Sans';
    src: url("../fonts/DejaVuSans.ttf") format('truetype');
}

@font-face {
    font-family: 'DejaVu Sans Mono';
    src: url("../fonts/DejaVuSansMono.ttf") format('truetype');
}

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "DejaVu Sans", sans-serif;
$family-monospace: "DejaVu Sans Mono", monospace;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
//$body-background-color: $beige-lighter;

// Import bulma.sass
@import "~bulma/bulma.sass";

// Or import only what you need from Bulma
// @import "~bulma/sass/utilities/_all.sass";
// @import "~bulma/sass/base/_all.sass";
// @import "~bulma/sass/elements/button.sass";
// @import "~bulma/sass/elements/container.sass";
// @import "~bulma/sass/elements/title.sass";
// @import "~bulma/sass/form/_all.sass";
// @import "~bulma/sass/components/navbar.sass";
// @import "~bulma/sass/layout/hero.sass";
// @import "~bulma/sass/layout/section.sass";
